Skip to Play Sketch
Cookies
The p5.js Editor uses cookies. Some are essential to the website functionality and allow you to manage an account and preferences. Others are not essential—they are used for analytics and allow us to learn more about our community. We never sell this data or use it for advertising. You can decide which cookies you would like to allow, and learn more in our Privacy Policy.


Allow All

Allow Essential
Arquivo
Editar
Esboço
Ajuda
Português
Olá, luhh2008!



Auto-atualizar

Shadow bubble

Arquivos do Esboço


i
nde
x
.html

s
ketc
h
.js

s
tyl
e
.css


style.css
1
html, body {
2
  margin: 0;
3
  padding: 0;
4
}
5
canvas {
6
  display: block;
7
}
8
​
Não há mensagens de Lint
Linha atuallinha 1

Terminal
Limpar

Prévia
